

body {
    background: $back-color;
}

#root {
    font-family: $font-main;
    font-weight: lighter;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-head2;
    font-weight: lighter;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

img, .image-skill {
    z-index: -1;
}

section {
    padding-top: 2em;
    margin-bottom: 12em;

    .section-header {

        &.shrink {
            margin-bottom: 6em;
        }
    }
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in .2s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity .3s ease-out;
}






