
.floating-box {
    box-shadow: 0px 60px 120px -30px $shadow-color;
}

.btn-square {
    padding: 0;
    height: 50px;
    width: 50px;
    border: 0;
    background: black;
    color: white;
    font-size: 1.2em;
    border-radius: 0;
    @include buttonTransaition;
}

.btn-span {
    height: 50px;
    font-weight: bold;
    line-height: 1.7;
    color: black;
    text-align: center;
    padding: 10px;
}

.text-box {
    padding: 2em;
    background: $text-back-color;

    @media (max-width: $screen-xs-max) { 
      padding: 1em;
    }
}

input.form-control {
  border-bottom: thick dotted #ff0000;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in .2s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity .3s ease-out;
}
