
$font-main:     'Open Sans', sans-serif;
$font-head:     'Abril Fatface', cursive;
$font-head2:    'Lato', sans-serif;

$back-color:        #ECEFF1;
$text-back-color:   white;
$shadow-color:      #B0BEC5;