

#section-about {
    margin-bottom: 11em;

    .header-panel {
        position: relative;
        @include backImage("./images/plant@1x.jpg", 40%, center, 20%);

        .section-title{
            position: absolute;
            top: -4em;
            left: -2em;
        }

        .text-box {
            position: absolute;
            top: 85%;
            left: -10%;
            right: 25%;
        }

    }
}