

#section-contact {

    .header-panel {
        position: relative;

        h4 {
            margin-top: 2em;
        }
        .section-title{
            position: absolute;
            top: -1.5em;;
        }

        .text-box {
            position: absolute;
            bottom: -70%;
            left: -2em;
            max-width: 250px;
        }

        nav {
            margin-top: 1em;

            a {
                color: black;
                font-size: 24px;
                padding-right: .5em;;
            }
        }
    }
}