
.section-skill {

    .section-header {

        .header-panel {
            position: relative;
            @include backImage("./images/plant.jpg", 140%, center, 64%);

            .section-title{
                position: absolute;
                top: -1.2em;
                right: -1em;
            }

            .text-box {
                position: absolute;
                top: 4em;
                left: -1.3em;
                max-width: 230px;
            }

            .btn-group {
                display: block;
                position: absolute;
                bottom: 40%;
                right: -3.5em;
                .btn-span, .btn-square {
                    float: left;
                }
            }

        }

        // animations 
        &, .header-panel, .section-title{
            transition: .4s .2s;
        }
        .header-panel {
            .btn-group {
                transition: opacity .2s, visibility 0s .4s;
            }
        }

       &.shrink {

            .header-panel {
                padding-top: 30%;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                

                .section-title{
                    right: 0;
                }
                .btn-group {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;  
                }
            }
       }
    }

    .skill-content {
        .chart {
            background: white;
            margin-bottom: 2.5em;
            padding: .3em 2em 1em 2em;
        }
    }
}