.section-work {

    .section-header {

        .header-panel {
            position: relative;
            @include backImage("./images/building.jpg", 100%, center, 64%);

            .section-title{
                position: absolute;
                top: -1em;
                left: -1em;
            }

            .text-box {
                position: absolute;
                bottom: -4em;
                left: -5em;
                max-width: 250px;
            }

            .btn-group {
                display: block;
                position: absolute;
                top: 30%;
                right: -1em;
                width: 190px;
                .btn-span, .btn-square {
                    float: left;
                }
            }

        }

        // animations 
        &, .header-panel, .section-title, .text-box{
            transition: .4s .2s;
        }
        .header-panel {
            .btn-group {
                transition: opacity .2s, visibility 0s .4s;
            }
        }

       &.shrink {
            height: 30vh;

            .header-panel {
                padding-top: 30%;
                width: 100%;
                margin: 0;
                
                .section-title{
                    left: calc(100% - 102px);
                    right: 0;
                }
                .btn-group {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;  
                }
                .text-box {
                    left: -1.3em;
                }
            }
       }
    }

    .work-content {
        .chart {
            background: white;
            margin-bottom: 2.5em;
            padding: .3em 2em 1em 2em;
        }

    }
}