#section-work {

    .section-header {

        .header-panel {
            position: relative;
            @include backImage("./images/building@1x.jpg", 60%, center, 64%);

            .section-title{
                position: absolute;
                top: -1em;
                right: 80%;
                transform: translateX(50%);
            }

            .btn-group {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 195px;
                .btn-span, .btn-square {
                    float: left;
                }
            }

            .text-box {
                position: absolute;
                top: 90%;
                right: 30%;
                left: -10%;
            }
        }

        // animations 
        &, .header-panel, .section-title, .text-box{
            transition: .4s .2s;
        }
        .header-panel {
            .btn-group {
                transition: opacity .2s, visibility 0s .4s;
            }
        }

       &.shrink {
            .header-panel {
                padding-top: 30%;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                
                .section-title{
                    right: 20%;
                }
                .btn-group {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;  
                }
                .text-box {
                    left: 0;
                    right: 0;
                    top: 100%;
                }
            }
       }
    }

    .work-content {
        .project {
            margin-top: 3em;

            h4 {
                margin-top: 2em;
            }
            margin-bottom: 2.5em;
        }

        .btn-group {
            display: block;
            width: 108px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}